In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
#Load the data
data = pd.read_csv('energydata_complete.csv')

In [3]:
#view first 5 columns
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
#Get the number of rows and column in the data
data.shape

(19735, 29)

In [6]:
scaler = MinMaxScaler()

data.drop(columns=['date', 'lights'], inplace = True)
normalised_df = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

features = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [7]:
data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Question 12
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [8]:
x = features['T2'].values.reshape(-1,1)
y = features['T6']

#Instantiate a Linear Regression model
model = LinearRegression()

#fit the model
model.fit(x, y)

#predict the target
y_pred = model.predict(x)

#r-squared
r_squared = metrics.r2_score(y, y_pred)
print("R-Squared {}".format(round(r_squared, 2)))

R-Squared 0.64

## Question 13
What is the Mean Absolute Error (in two decimal places)?

In [9]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)
model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [10]:
mae = metrics.mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error (MAE): {}".format(round(mae,2)))

Mean Absolute Error (MAE): 0.05

## Question 14
What is the Residual Sum of Squares (in two decimal places)?

In [11]:
rss = np.sum(np.square(y_test - y_pred))
print("Residual Sum of Squares (RSS): {}".format(rss.round(2)))

Residual Sum of Squares (RSS): 45.35

## Question 15
What is the Root Mean Squared Error (in three decimal places)?

In [12]:
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error (RMSE): {}".format(rmse.round(3)))

Root Mean Squared Error (RMSE): 0.088

## Question 16
What is the Coefficient of Determination (in two decimal places)?

In [13]:
r2_score = metrics.r2_score(y_test, y_pred)
print("R-Squared {}".format(round(r_squared, 2)))

R-Squared 0.64

## Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [14]:
df_w = pd.DataFrame()
df_w['features'] = features.columns
df_w['weights'] = model.coef_
df_w = df_w.sort_values(by='weights', ascending=True)
display(df_w)

       features   weights
3          RH_2 -0.456698
18        T_out -0.321860
2            T2 -0.236178
16           T9 -0.189941
15         RH_8 -0.157595
20       RH_out -0.077671
13         RH_7 -0.044614
17         RH_9 -0.039800
8            T5 -0.015657
0            T1 -0.003281
24          rv1  0.000770
25          rv2  0.000770
19  Press_mm_hg  0.006839
12           T7  0.010319
22   Visibility  0.012307
9          RH_5  0.016006
7          RH_4  0.026386
6            T4  0.028981
21    Windspeed  0.029183
11         RH_6  0.038049
5          RH_3  0.096048
14           T8  0.101995
23    Tdewpoint  0.117758
10           T6  0.236425
4            T3  0.290627
1          RH_1  0.553547

## Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [15]:
ridge = Ridge(alpha=0.4)
model = ridge.fit(x_train, y_train)
y_pred = model.predict(x_test)

rmse_ridge = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error Ridge: {}".format(rmse_ridge.round(3)))

Root Mean Squared Error Ridge: 0.088

## Question 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [18]:
lasso = Lasso(alpha=0.001)
model = lasso.fit(x_train, y_train)
y_pred = model.predict(x_test)

df_w = pd.DataFrame()
df_w['features'] = features.columns
df_w['weights'] = model.coef_
df_w.loc[df_w['weights'] != 0]

     features   weights
1        RH_1  0.017880
15       RH_8 -0.000110
20     RH_out -0.049557
21  Windspeed  0.002912

## Question 20

What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [17]:
lasso_pred =lasso.predict(x_test)
rmse_lasso = np.sqrt(metrics.mean_squared_error(y_test, lasso_pred))
print("Mean Squared Error Ridge: {}".format(rmse_lasso.round(3)))

Mean Squared Error Ridge: 0.094